<div class="alert alert-info alertinfo" style="margin-top: 0px">
<h1> Natural Language Processing with Disaster Tweets </h1>
part 3 - machine learning
</div>

<div class="alert-success" style="margin-top: 0px">
<h1> Imports </h1>
</div>

In [1]:
# standard
import pandas as pd
import numpy as np
from collections import Counter

# NLP
import re
import nltk
from nltk.corpus import words
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk import word_tokenize, pos_tag, ne_chunk

# visualization
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
import matplotlib.pyplot as plt
from wordcloud import WordCloud

# models
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report
from catboost import CatBoostClassifier

# others
import joblib
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

### 1. read data set

In [2]:
df = pd.read_csv('train.csv')
test_set = pd.read_csv('test.csv')
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

<div class="alert-success" style="margin-top: 0px">
<h1> Data cleaning </h1>
</div>

In [3]:
df.fillna('', inplace=True)

### pre-clean and corpus set up
first cleaning function that will be updated later on

In [4]:
# Definitions 1
STOPWORDS = set(stopwords.words('english'))

def remove_urls(text):
    text = re.sub(r"http\S+|www\S+|https\S+", '', text, flags=re.MULTILINE)
    text = re.sub(r'<.*?>', '', text)
    return text

def remove_emails(text):
    text = re.sub(r'\S+@\S+', '', text, flags=re.MULTILINE)
    text = re.sub(r'(^|\s)@\w+', '', text)
    return text.strip()

def remove_foreign_characters(text):
    text = re.sub(r'([^\x00-\x7F])+', '', text)
    return text

def remove_short_words(text):
    text = ' '.join([word for word in text.split() if len(word) > 2])
    return text

def remove_stopwords(text):
    stopwords = set(STOPWORDS)
    return ' '.join([word for word in text.split() if word.lower() not in stopwords])

def remove_symbols_and_numbers(text):
    text = ''.join(' ' if not c.isalpha() else c for c in text)
    text = ' '.join(text.split())
    return text

def clean_phase_1(text):
    text = text.lower()
    text = remove_urls(text)
    text = remove_emails(text)
    text = remove_foreign_characters(text)
    text = remove_symbols_and_numbers(text)
    text = remove_stopwords(text)
    text = remove_short_words(text)
    return text

In [5]:
english_words = set(words.words())

# find 'important words' - 'keywords' in our training set
data = df.copy()
feature_name = 'keyword'
data[feature_name] = data[feature_name].apply(clean_phase_1)
set_values = set(data[feature_name].values)
set_values.remove('')
important_words = set()
for value in set_values:
    words = value.split()
    important_words.update(words)
    
examples = list(important_words)[:5]
examples

['destroyed', 'destroy', 'tsunami', 'landslide', 'meltdown']

In [6]:
# find 'unimportant words' - 'locations' in our training set
feature_name = 'location'
data[feature_name] = data[feature_name].apply(clean_phase_1)
set_values = ' '.join(data[feature_name].dropna())
set_values = set_values.split()
set_values = set([word for word in set_values if len(word) > 2])
unimportant_words = set()
for value in set_values:
    words = value.split()
    unimportant_words.update(words)
words_to_keep = unimportant_words.intersection(important_words)
unimportant_words = unimportant_words - words_to_keep

examples = list(unimportant_words)[:5]
examples

['doflamingo', 'brazos', 'cairo', 'bandar', 'berhati']

In [7]:
# updating corpus
english_words.update(important_words)
english_words = english_words - unimportant_words

In [8]:
# train data words
feature_name = 'text'
data[feature_name] = data[feature_name].apply(clean_phase_1)
all_text = ' '.join(data['text'].dropna())
words = all_text.split()
word_counts = Counter(words)
word_counts_df = pd.DataFrame.from_dict(word_counts, orient='index', columns=['count']).reset_index()
word_counts_df.columns = ['word', 'count']
word_counts_df = word_counts_df.sort_values(by='count', ascending=False).reset_index(drop=True)
data_words_df = word_counts_df[word_counts_df['count'] >= 5]
train_data_words = set(data_words_df['word'].values)

train_words_common = train_data_words.intersection(english_words)
train_words_uncommon = train_data_words - train_words_common

# updating corpus
english_words.update(train_data_words) # all words on the first phase

### 3. prepare for Machine Learning

In [9]:
# prepare_for_ml
def filter_words(text, english_words, filter=True):
    if filter:
        words = text.split()
        text = ' '.join([word for word in words if word.lower() in english_words])
    return text

def stem_text(text):
    porter = PorterStemmer()
    words = word_tokenize(text)
    stemmed_words = [porter.stem(word) for word in words]
    stemmed_text = ' '.join(stemmed_words)
    return stemmed_text

def prepare_for_ml(data, english_words):
    data.fillna('', inplace=True)
    data['keyword'] = data['keyword'].apply(clean_phase_1)
    data['keyword'] = data['keyword'].apply(lambda x: filter_words(x, english_words, filter)).apply(stem_text)
    data['processed text'] = data['text'].apply(clean_phase_1)
    data['processed text'] = data['processed text'].apply(lambda x: filter_words(x, english_words, filter)).apply(stem_text)
    return data

df = prepare_for_ml(df, english_words)
test_set = prepare_for_ml(test_set, english_words)
df.head()

,id,keyword,location,text,target,processed text
0,1,,,Our Deeds are the Reason of this #earthquake M...,1,reason earthquak may allah forgiv
1,4,,,Forest fire near La Ronge Sask. Canada,1,forest fire near canada
2,5,,,All residents asked to 'shelter in place' are ...,1,resid ask shelter place notifi offic evacu she...
3,6,,,"13,000 people receive #wildfires evacuation or...",1,peopl receiv wildfir evacu order california
4,7,,,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo rubi alaska smoke wildfir school

<div class="alert-success" style="margin-top: 0px">
<h1> Vectorising </h1>
</div>

In [10]:
corpus = df['processed text'].tolist()
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(corpus)

# Convert the TF-IDF matrix to a DataFrame (optional)
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())
tfidf_df

,aal,aba,abandon,abc,abil,abject,abl,ablaz,aboard,abomin,...,zaman,zar,zeal,zionist,zip,zipper,zodiac,zombi,zone,zoom
0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7608,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7609,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7610,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7611,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7612,0.0,0.0,0.0,0.416642,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
test_matrix = vectorizer.transform(test_set['processed text'].tolist())
test_tifi = pd.DataFrame(test_matrix.toarray(), columns=vectorizer.get_feature_names_out())   
assert(test_tifi.columns == tfidf_df.columns).all()  
test_tifi

,aal,aba,abandon,abc,abil,abject,abl,ablaz,aboard,abomin,...,zaman,zar,zeal,zionist,zip,zipper,zodiac,zombi,zone,zoom
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3259,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<div class="alert-success" style="margin-top: 0px">
<h1> Train test split </h1>
</div>

In [12]:
# Assuming you have a 'target' column in your DataFrame
X = tfidf_matrix  # Use the TF-IDF matrix as features
y = df['target']  # Assuming 'target' is the column you want to predict

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

<div class="alert-success" style="margin-top: 0px">
<h1> Model comparison</h1>
</div>

In [13]:
# Define models
models = {
    'Logistic Regression': LogisticRegression(),
    'Multinomial Naive Bayes': MultinomialNB(),
    'Random Forest': RandomForestClassifier(),
    'Support Vector Machine': make_pipeline(StandardScaler(with_mean=False), SVC()),
    'CatBoost': CatBoostClassifier(iterations=100, depth=5, learning_rate=0.1, loss_function='Logloss')
}

# Train and evaluate models
for name, model in models.items():
    print('starting new model', name, model)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    # Evaluate model performance
    accuracy = accuracy_score(y_test, y_pred)
    report = classification_report(y_test, y_pred)
    
    # Save the trained model
    model_filename = f'{name}_model.joblib'
    joblib.dump(model, model_filename)
    
    # Display results
    print(f'\nModel: {name}')
    print(f'Accuracy: {accuracy:.4f}')
    print('Classification Report:\n', report)
    print(f'Model saved as: {model_filename}')
    print('--------------------------------------------------')

starting new model Logistic Regression LogisticRegression()

Model: Logistic Regression
Accuracy: 0.8024
Classification Report:
               precision    recall  f1-score   support

           0       0.80      0.88      0.84       874
           1       0.82      0.69      0.75       649

    accuracy                           0.80      1523
   macro avg       0.81      0.79      0.79      1523
weighted avg       0.80      0.80      0.80      1523

Model saved as: Logistic Regression_model.joblib
--------------------------------------------------
starting new model Multinomial Naive Bayes MultinomialNB()

Model: Multinomial Naive Bayes
Accuracy: 0.8024
Classification Report:
               precision    recall  f1-score   support

           0       0.79      0.89      0.84       874
           1       0.82      0.69      0.75       649

    accuracy                           0.80      1523
   macro avg       0.81      0.79      0.79      1523
weighted avg       0.80      0.80      0.80      1523

Model saved as: Multinomial Naive Bayes_model.joblib
--------------------------------------------------
starting new model Random Forest RandomForestClassifier()

Model: Random Forest
Accuracy: 0.7754
Classification Report:
               precision    recall  f1-score   support

           0       0.79      0.84      0.81       874
           1       0.76      0.69      0.73       649

    accuracy                           0.78      1523
   macro avg       0.77      0.77      0.77      1523
weighted avg       0.77      0.78      0.77      1523

Model saved as: Random Forest_model.joblib
--------------------------------------------------
starting new model Support Vector Machine Pipeline(steps=[('standardscaler', StandardScaler(with_mean=False)),
                ('svc', SVC())])

Model: Support Vector Machine
Accuracy: 0.7741
Classification Report:
               precision    recall  f1-score   support

           0       0.75      0.92      0.82       874
           1       0.84      0.58      0.69       649

    accuracy                           0.77      1523
   macro avg       0.79      0.75      0.76      1523
weighted avg       0.79      0.77      0.77      1523

Model saved as: Support Vector Machine_model.joblib
--------------------------------------------------
starting new model CatBoost <catboost.core.CatBoostClassifier object at 0x000002664F19F8D0>
0:	learn: 0.6834564	total: 172ms	remaining: 17s
1:	learn: 0.6776171	total: 197ms	remaining: 9.66s
2:	learn: 0.6691418	total: 222ms	remaining: 7.17s
3:	learn: 0.6627472	total: 255ms	remaining: 6.12s
4:	learn: 0.6581506	total: 287ms	remaining: 5.45s
5:	learn: 0.6540129	total: 319ms	remaining: 5s
6:	learn: 0.6483018	total: 353ms	remaining: 4.69s
7:	learn: 0.6427299	total: 377ms	remaining: 4.34s
8:	learn: 0.6382700	total: 401ms	remaining: 4.06s
9:	learn: 0.6349146	total: 427ms	remaining: 3.85s
10:	learn: 0.6317076	total: 452ms	remaining: 3.65s
11:	learn: 0.6277057	total: 476ms	remaining: 3.49s
12:	learn: 0.6231750	total: 501ms	remaining: 3.35s
13:	learn: 0.6200744	total: 525ms	remaining: 3.22s
14:	learn: 0.6163831	total: 551ms	remaining: 3.12s
15:	learn: 0.6134543	total: 576ms	remaining: 3.02s
16:	learn: 0.6107584	total: 602ms	remaining: 2.94s
17:	learn: 0.6088956	total: 628ms	remaining: 2.86s
18:	learn: 0.6056430	total: 658ms	remaining: 2.8s
19:	learn: 0.6037253	total: 690ms	remaining: 2.76s
20:	learn: 0.6014447	total: 722ms	remaining: 2.72s
21:	learn: 0.5987071	total: 753ms	remaining: 2.67s
22:	learn: 0.5965336	total: 780ms	remaining: 2.61s
23:	learn: 0.5941055	total: 803ms	remaining: 2.54s
24:	learn: 0.5916007	total: 827ms	remaining: 2.48s
25:	learn: 0.5901249	total: 851ms	remaining: 2.42s
26:	learn: 0.5887038	total: 875ms	remaining: 2.37s
27:	learn: 0.5871602	total: 900ms	remaining: 2.31s
28:	learn: 0.5846575	total: 931ms	remaining: 2.28s
29:	learn: 0.5826686	total: 963ms	remaining: 2.25s
30:	learn: 0.5811671	total: 995ms	remaining: 2.21s
31:	learn: 0.5795503	total: 1.03s	remaining: 2.18s
32:	learn: 0.5777930	total: 1.05s	remaining: 2.14s
33:	learn: 0.5759781	total: 1.08s	remaining: 2.09s
34:	learn: 0.5746296	total: 1.1s	remaining: 2.05s
35:	learn: 0.5734763	total: 1.13s	remaining: 2.01s
36:	learn: 0.5718407	total: 1.15s	remaining: 1.96s
37:	learn: 0.5708445	total: 1.18s	remaining: 1.92s
38:	learn: 0.5691899	total: 1.2s	remaining: 1.88s
39:	learn: 0.5677678	total: 1.23s	remaining: 1.84s
40:	learn: 0.5664065	total: 1.25s	remaining: 1.8s
41:	learn: 0.5648294	total: 1.29s	remaining: 1.78s
42:	learn: 0.5629686	total: 1.32s	remaining: 1.75s
43:	learn: 0.5618764	total: 1.35s	remaining: 1.72s
44:	learn: 0.5607351	total: 1.38s	remaining: 1.69s
45:	learn: 0.5596179	total: 1.41s	remaining: 1.65s
46:	learn: 0.5582253	total: 1.44s	remaining: 1.62s
47:	learn: 0.5568672	total: 1.47s	remaining: 1.59s
48:	learn: 0.5556639	total: 1.5s	remaining: 1.56s
49:	learn: 0.5542984	total: 1.54s	remaining: 1.54s
50:	learn: 0.5525659	total: 1.57s	remaining: 1.51s
51:	learn: 0.5515248	total: 1.6s	remaining: 1.48s
52:	learn: 0.5506354	total: 1.64s	remaining: 1.46s
53:	learn: 0.5490129	total: 1.67s	remaining: 1.43s
54:	learn: 0.5477655	total: 1.71s	remaining: 1.4s
55:	learn: 0.5463580	total: 1.74s	remaining: 1.37s
56:	learn: 0.5451467	total: 1.77s	remaining: 1.34s
57:	learn: 0.5442744	total: 1.81s	remaining: 1.31s
58:	learn: 0.5436272	total: 1.84s	remaining: 1.28s
59:	learn: 0.5422585	total: 1.86s	remaining: 1.24s
60:	learn: 0.5412310	total: 1.89s	remaining: 1.21s
61:	learn: 0.5403274	total: 1.91s	remaining: 1.17s
62:	learn: 0.5393743	total: 1.94s	remaining: 1.14s
63:	learn: 0.5386670	total: 1.97s	remaining: 1.11s
64:	learn: 0.5377902	total: 1.99s	remaining: 1.07s
65:	learn: 0.5369320	total: 2.02s	remaining: 1.04s
66:	learn: 0.5359075	total: 2.07s	remaining: 1.02s
67:	learn: 0.5351135	total: 2.11s	remaining: 991ms
68:	learn: 0.5340099	total: 2.14s	remaining: 961ms
69:	learn: 0.5331873	total: 2.16s	remaining: 927ms
70:	learn: 0.5323000	total: 2.19s	remaining: 894ms
71:	learn: 0.5313038	total: 2.21s	remaining: 861ms
72:	learn: 0.5301101	total: 2.24s	remaining: 828ms
73:	learn: 0.5293774	total: 2.26s	remaining: 795ms
74:	learn: 0.5284625	total: 2.29s	remaining: 762ms
75:	learn: 0.5275151	total: 2.31s	remaining: 730ms
76:	learn: 0.5264444	total: 2.34s	remaining: 698ms
77:	learn: 0.5256588	total: 2.36s	remaining: 667ms
78:	learn: 0.5244715	total: 2.39s	remaining: 635ms
79:	learn: 0.5234765	total: 2.42s	remaining: 604ms
80:	learn: 0.5224362	total: 2.44s	remaining: 573ms
81:	learn: 0.5214002	total: 2.47s	remaining: 543ms
82:	learn: 0.5206963	total: 2.5s	remaining: 512ms
83:	learn: 0.5198131	total: 2.53s	remaining: 482ms
84:	learn: 0.5188262	total: 2.56s	remaining: 452ms
85:	learn: 0.5180737	total: 2.59s	remaining: 422ms
86:	learn: 0.5169345	total: 2.63s	remaining: 392ms
87:	learn: 0.5159687	total: 2.66s	remaining: 362ms
88:	learn: 0.5147611	total: 2.69s	remaining: 333ms
89:	learn: 0.5140674	total: 2.72s	remaining: 303ms
90:	learn: 0.5131087	total: 2.75s	remaining: 272ms
91:	learn: 0.5122716	total: 2.79s	remaining: 242ms
92:	learn: 0.5111877	total: 2.82s	remaining: 212ms
93:	learn: 0.5102052	total: 2.85s	remaining: 182ms
94:	learn: 0.5089473	total: 2.88s	remaining: 152ms
95:	learn: 0.5077477	total: 2.91s	remaining: 121ms
96:	learn: 0.5065071	total: 2.95s	remaining: 91.2ms
97:	learn: 0.5055289	total: 2.98s	remaining: 60.8ms
98:	learn: 0.5046301	total: 3.01s	remaining: 30.4ms
99:	learn: 0.5035417	total: 3.05s	remaining: 0us

Model: CatBoost
Accuracy: 0.7617
Classification Report:
               precision    recall  f1-score   support

           0       0.73      0.92      0.82       874
           1       0.83      0.55      0.66       649

    accuracy                           0.76      1523
   macro avg       0.78      0.73      0.74      1523
weighted avg       0.78      0.76      0.75      1523

Model saved as: CatBoost_model.joblib
--------------------------------------------------

### best accuracy of 80.24% acchieved Multinomial Naive Bayes model (slightly better recall than Logistic regression)
### re-evaluation of the model can be found in part 4